   html, body {
       width: 100%;
       height: 100%;
       font-family: Kotta One;
      
      
   }

   .item img {
       width: 100%;
       height: 100%;
   }

   #carousel {
       width: 100%;
       height: 60%;
       overflow: hidden;
   }

   #topbar-container {
       width: 100%;
       height: 100%;
       background: rgba(255, 255, 255, .6);
       position: absolute;
       top: 0;
       left: 0;
       z-index: 2;
       text-align: center;
   }

   #topbar-container img {
       width: 60%;
   }

   .carousel-control {
       z-index: 3;
   }

   #form-input {
      width:100%;
   }

#weather_status_form {
    position:relative;
     width: 30%;
    margin: auto;
}

#submitbutton {
    position: absolute;
    top:21px;
    right: 2px;
    background: transparent;
    border: 0;
    height: 32px;
    border-left: 1px solid rgb(221, 221, 221);
}

#hidden-template-container {
    height:400px;
    
}

.city-box {
    height:300px;
    text-align: center;
    font-family: Kotta One;
    overflow: hidden;
    position:absolute;
    top: 18%;
    left: 17%;
    width: 67%;
    height: 68%;
    z-index: -1;
}


h2 {
    font-style: bold;
    font-size:15px;
}



.city-opacity {
width: 40%;
margin: auto;
background-color: rgba(255,255,255,.6);
border: 1px outset white;
border-radius: 4px;
position: absolute;
top: 19%;
font-family: kotta one;
left: 30%;
text-align: center;
}


#weather_city::-webkit-input-placeholder {
    font-family: Kotta One;
}

#weather_city::-moz-placeholder {
    font-family: Kotta One;
}
img/img/Albert_Bierstadt_-_Wind_River_Country_-_Google_Art_Project.jpg
footer {
    
}

.footer_info {
    width:100%;
    height:10%;
    position:absolute;
    bottom:0px;
    background-color: rgba(220,235,231,.8);
    margin-top:20px;
    font-family: kotta one;
    text-align: center;
    color:#3B3F41;
}

.footer_info p {
    margin:5px;
    
}



.city-box .fa-cog {
    font-size: 75px;
    margin-top: 110px;
}

.delete_button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color:transparent;
    border:transparent;
}
#loading-box-template{
color: #808A8A;
    font-family: kotta one;
    height:400px;


}


.small-classy-frame {
    width:100%;
    height:100%;
    z-index: -1;
}

.city-opacity-main {
    z-index: 1;
}

#city-box-template {
    position:relative;
}

.small-frame {
    position: relative;
}



.city-opacity a {
    color:#300000; 
    text-decoration: none;
    
}
